/* common */
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;300;400&family=Noto+Sans+KR:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 200;
  font-size: 1.1rem;
  color: #685858;
}

section article {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

section strong {
  font-weight: 500;
}

section .title {
  font-family: 'Advent Pro', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

section#Main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

section#Main article h1 {
  font-size: 5.5rem;
  font-weight: 200;
  line-height: 5.2rem;
  margin: 0 auto;
}

section#Main article nav {
  margin-top: 30px;
}

section#Main article nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

section#Main article nav ul li {
  margin: 0 20px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
}

section#Main article nav ul li:hover {
  border-bottom: 1px solid #685858;
}

section#Main img {
  position: absolute;
  z-index: -1;
}

section#Main img.bg1 {
  right: 0;
  top: -300px;
}

section#Main img.bg2 {
  left: 40px;
  bottom: 60px;
}

section#Main img.bg3 {
  left: 100px;
  bottom: 150px;
}

section#Main img.fl1 {
  margin: -150px 560px 0 0;
  width: 70px;
}

section#Main img.fl2 {
  margin: 90px 0 0 480px;
  width: 60px;
}

section#Introduce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

section#Introduce article {
  width: 50%;
}

section#Introduce article .title {
  text-align: left;
  margin-bottom: 80px;
}

section#Introduce article .fl1 {
  width: 100px;
  left: -50px;
  top: -40px;
  position: absolute;
  z-index: -1;
}

section#Introduce article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
}

section#Introduce article div strong {
  margin-right: 20px;
  min-width: 40px;
}

section#Introduce article div p {
  font-weight: 300;
}

section#Introduce article img {
  position: absolute;
}

section#Introduce article img.bg {
  top: -80px;
  right: -20px;
  width: 660px;
}

section#Introduce article img.fl2 {
  z-index: 2;
  width: 170px;
  right: 50px;
  bottom: -38px;
}

section#Introduce article .profil {
  width: 350px;
  height: 500px;
  background-color: white;
  position: relative;
  z-index: 1;
  margin-left: 160px;
}

section#Works {
  height: auto;
  background-color: #fff3e4;
}

section#Works .title {
  margin: 60px 0 80px;
}

section#Works .wave {
  position: absolute;
  top: -300px;
  left: 0;
  width: 100%;
  z-index: -1;
}

section#Works article {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section#Works article img {
  position: absolute;
}

section#Works article img.fl1 {
  top: 0;
  left: -110px;
  width: 80px;
}

section#Works article img.fl2 {
  bottom: 60px;
  right: -110px;
  width: 80px;
}

section#Works article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 30%;
  margin-bottom: 60px;
}

section#Works article div figure {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  cursor: pointer;
}

section#Works article div figure img {
  width: 100%;
  height: 100%;
  position: relative;
}

section#Works article div figure figcaption {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  color: #fefefe;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 250px;
  -webkit-transform: translateY(250px);
          transform: translateY(250px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

section#Works article div figure:hover figcaption {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

section#Works article div span {
  font-size: 0.9rem;
  margin: 3px 0 15px;
}

section#Works article div p {
  word-break: keep-all;
}

section#Contact {
  height: auto;
  background-color: #fff3e4;
  padding: 60px 0 200px;
}

section#Contact article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
  margin-top: 80px;
}

section#Contact article div {
  position: relative;
  width: 200px;
  height: 200px;
}

section#Contact article div img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section#Contact article div p {
  position: absolute;
  bottom: -60px;
  font-weight: 500;
  text-align: center;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */